# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\7. Working Space\workspace\pay_parking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
